.avatar {
  width: 10%;
  height: 10%;
}
.box {
  display: block;
  width: 150px;
  height: 70px;
  margin: 5px;
  margin-top: 10px;
}
.commits {
  background-color: #e2eae4;
}
.repos {
  background-color: #e2eae4;

}
.linesOfCode {
  background-color: #e2eae4;

}
.followers {
  background-color: #c0f1e2;

}
.followings {
  background-color: #c0f1e2;

}