.container {
  width: 100%;
}
.app {
  text-align: center;
  /* border: solid black 1px; */
  height: 100%;
  width: 100%;
  margin: auto;
}
.part {
  /* border: solid black 1px; */
  display: block;
  text-align: center;
  width: 100%;
}
